html {
    scroll-behavior: smooth;
}

body {
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}
 
.sidebar-sticky .nav-item .nav-link {
    padding-bottom: 1.2em;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
  
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
  
.sidebar .nav-link.active {
    color: #007bff;
}
  
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: black;
}

.sidebar .nav-link .custom-select:hover {
    border-color: #333;
}

  
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
  
/*
* Navbar
*/

.titulo-site {
    font-family: 'Source Code Pro', monospace;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
  
.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.btn-toolbar .custom-select {
    border-color: #999;
}

/* 
* Main
*/

.titulo {
    font-family: 'Open Sans', sans-serif;
}

.card.glossario {
    border-color: rgb(200, 200, 200);
    scroll-margin-top: 50px;
}

.ribbon {
    background: rgb(82, 82, 82);
    border-radius: 3px 1.5px 0px 3px;
    color: whitesmoke !important;
    font-weight: 900;
    font-size: .85em;
    height: 26px;
    padding: 4px;
    padding-left: 11px !important;
    padding-right: 21px !important;
    position: absolute;
    right: -15px;
    top: 15px;
    width: auto;
    z-index: 1;
}

.ribbon:before {
    border-left: 7px solid rgb(26, 26, 26);
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(26, 26, 26);
    border-bottom: 7px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 26px;
}

a.ribbon:hover {
    background: rgb(68, 68, 68) !important;
}
a.ribbon:hover:before {
    border-left: 7px solid rgb(68, 68, 68) !important;
    border-top: 7px solid rgb(68, 68, 68) !important;
}

.green.ribbon {
    background: rgb(1, 122, 1) !important;
}
.green.ribbon:before{
    border-left: 7px solid rgb(0, 49, 0) !important;
    border-top: 7px solid rgb(0, 49, 0) !important;
}
a.green.ribbon:hover {
    background: rgb(1, 88, 1) !important;
}
a.green.ribbon:hover:before {
    border-left: 7px solid rgb(1, 88, 1) !important;
    border-top: 7px solid rgb(1, 88, 1) !important;
}

.blue.ribbon {
    background: rgb(25, 25, 112) !important;
}
.blue.ribbon:before{
    border-left: 7px solid rgb(11, 11, 41) !important;
    border-top: 7px solid rgb(11, 11, 41) !important;
}
a.blue.ribbon:hover {
    background: rgb(20, 20, 92) !important;
}
a.blue.ribbon:hover:before {
    border-left: 7px solid rgb(20, 20, 92) !important;
    border-top: 7px solid rgb(20, 20, 92) !important;
}

.red.ribbon {
    background: rgb(185, 1, 1) !important;
}
.red.ribbon:before{
    border-left: 7px solid rgb(92, 0, 0) !important;
    border-top: 7px solid rgb(92, 0, 0) !important;
}
a.red.ribbon:hover {
    background: rgb(165, 1, 1) !important;
}
a.red.ribbon:hover:before {
    border-left: 7px solid rgb(165, 1, 1) !important;
    border-top: 7px solid rgb(165, 1, 1) !important;
}